.note {    
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}​
.note p {
  margin: 5px 0;
}
ul li::before {
  color: white;
}​
p strong {
  color: lime;
}