
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

body{
  background-color: #202029;  
}


.card-form-container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 4rem 0;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 600px;
  align-items: center;
  position: relative;
}
.title-creditcard-component{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin:1rem auto 0 auto;
  font-size: 1.5rem;
}


.credit-card-data{
  display: flex;
  flex-direction: column;
  min-width: 30%;
  margin-right: 2rem;
  text-align: left;
}
.credit-card-data label{
  font-size: .875rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
.credit-card-data input{
  line-height: 2.5rem;
  width: 100%;
  border-radius: .25rem;
  border: none;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.credit-card{
  max-width: 450px;
  border-radius: .5rem;
  background-color: #fff;
  background-image: url(./component/img/congruent_pentagon.png);
  width: 100%;
  max-height: 280px;
  font-family: 'DM Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.credit-card .group-card{
  padding: 1rem;
  text-align: left;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.credit-card .group-card.two-col{
  display: flex;
  flex-direction: row;
}
.credit-card .group-card .middle{
  min-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.credit-card .credit-card-label{
  font-size: .875rem;
  color: #202029;
  font-weight: 500;
  width: 100%;
}

.credit-card-number{
  font-size: 1.75rem;
  color:#202029;
  line-height: 40px;
  height: 40px;
  width: 100%;
}
.credit-card-expiration{
  font-size: 1.25rem;
  color:#202029;
  line-height: 40px;
  height: 1.5rem;
  width: 100%;
}

.credit-card-name{
  font-size: 1.25rem;
  color:#202029;
  line-height: 40px;
  height: 1.5rem;
  width: 100%;
}

.credit-card-cvv {
  font-size: 1.25rem;
  color:#202029;
  line-height: 40px;
  height: 1.5rem;
  width: 100%;
}


